<h1>JS Index</h1>
<button id="js_index_games">Index All Games w/ AJAX</button>
<br> <br>
<button id="js_show_game">Show Game w/ AJAX</button>
<br> <br>
<button id="js_freeholder_fans">Show Fans of FreeHolder w/ AJAX</button>
<br> <br>
<%= link_to "Back to Home", '/' %>
